# deps
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma / sqlite
/prisma/*.db
/prisma/*.db-journal
/prisma/migrations

# generated contracts
/public/contracts/*.pdf
!/public/contracts/.gitkeep
